<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="13" android:versionName="1.3" package="com.miui.compass"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:label="@string/app_label" android:icon="@drawable/app_icon" android:taskAffinity="com.miui.compass">
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_label" android:name=".CompassActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>